    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/js/SignIn.js"></script>

    <div class="login-page">
        <div class="form">
            <form class="loginForm">
              <input class="usernameInput" type="text" placeholder="username"/>
              <input class="passwordInput" type="password" placeholder="password"/>
              <button>login</button>
          </form>
        </div>
    </div>

